/* Reset  */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************************************** Utility Components  *************************************************/
:root {
    font-size: 62.5%;

    /***************** Custom Properties *****************/

    /* Colors */
    --color-primary: #730039;
    --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
    --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);

    --color-secondary: #ffc513;
    --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
    --color-secondary-m-dark: rgba(255, 196, 19, 0.85);

    --color-tertiary: #ff724c;
    --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);
    --color-tertiary-m-dark: rgba(255, 115, 76, 0.85);

    --color-quaternary: #f6eedf;
    --color-quaternary-m-light: hsla(39, 56%, 92%, 0.55);
    --color-quaternary-m-dark: hsla(39, 56%, 92%, 0.85);

    /* Transtion Duration */
    --transition-duration: 0.3s;

    /* Section Title Font Size */
    --font-size-title: calc(2rem + 2vw);

    /* Section Padding */
    --padding-section: 8vh 3vw;
}

body {
    font-family: "Titillium Web", sans-serif;
    line-height: 1.7;
    background-color: var(--color-quaternary);
}

.container {
    display: grid;
    grid-template-columns:
        [container-start] 1fr [center-start] repeat(
            10,
            [col-start] minmax(min-content, 15rem) [col-end]
        )
        [center-end] 1fr [container-end];

    grid-template-rows: 100vh;
}

/* .container > * {
    font-size: 5rem;
} */

/* +++++++++++++++++++++ HEADER SECTION ++++++++++++++++++++++++++++++++++++++ */
#header {
    grid-column: container-start / container-end;
    /* background-color: var(--color-primary); */
    background-image: linear-gradient(
            var(--color-primary-m-light),
            var(--color-primary-m-light)
        ),
        url(img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* +++++++++++++++++  NAVIGATION */
.header__main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

.header__main-nav--menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;

    background-color: var(--color-secondary-m-dark);

    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(0);
    transition: all var(--transition-duration);
}

.header__main-nav input[type="checkbox"]:checked ~ .header__main-nav--menu {
    visibility: visible;
    transform: scaleX(100%);
}

.header__main-nav--menu a:link,
.header__main-nav--menu a:visited {
    text-decoration: none;
    color: var(--color-quaternary);
    font-size: calc(2.5rem + 1vw);
    padding: 1rem 2rem;

    position: relative;
    z-index: 5;
    display: inline-block;
    margin-bottom: 2rem;
}

.header__main-nav--menu a:link::before,
.header__main-nav--menu a:visited::before {
    content: "";
    position: absolute;
    background-color: var(--color-primary-m-dark);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    transform: scaleY(0);
    transition: transform var(--transition-duration) ease-in-out;
}

.header__main-nav--menu a:hover::before,
.header__main-nav--menu a:active::before {
    transform: scaleY(100%);
    box-shadow: 0rem 3rem 4rem rgba(0, 0, 0, 0.288);
}

.header__main-nav--menu ul {
    list-style: none;
    text-align: center;
}

/* Hambuger Menu */
.header__main-nav input[type="checkbox"] {
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    z-index: 5;
    opacity: 0;
    /* visibility: hidden; */
}
.header__main-nav--hamburger {
    position: absolute;
    top: 3rem;
    left: 3rem;
    background-color: var(--color-secondary);
    height: 5rem;
    width: 5rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: navroll 2s ease-in-out;
}

@keyframes navroll {
    0% {
        transform: translateX(150rem) rotate(1600deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0rem) rotate(0deg);
        opacity: 1;
    }
}

/* Hamburger Lines */
.header__main-nav--hamburger div {
    width: 4rem;
    background-color: var(--color-quaternary);
    padding: 0.15rem;
    position: relative;
    transition: all var(--transition-duration) ease-in-out;
}

/* Top and bottom lines */
.header__main-nav--hamburger div::before,
.header__main-nav--hamburger div::after {
    content: "";
    width: 70%;
    background-color: inherit;
    padding: 0.15rem;
    position: absolute;
}
.header__main-nav--hamburger div::before {
    top: -1rem;
    left: 0;
}
.header__main-nav--hamburger div::after {
    top: 1rem;
    right: 0;
}

/* Rotating the lines */
.header__main-nav
    input[type="checkbox"]:checked
    + .header__main-nav--hamburger
    > div {
    transform: rotate(135deg);
}

.header__main-nav
    input[type="checkbox"]:checked
    + .header__main-nav--hamburger
    > div::before,
.header__main-nav
    input[type="checkbox"]:checked
    + .header__main-nav--hamburger
    > div::after {
    top: 0;
    width: 100%;
    left: 0;
    transform: rotate(270deg);
}

.header__main-nav
    input[type="checkbox"]:checked:hover
    + .header__main-nav--hamburger
    > div {
    transform: rotate(405deg);
}

/* +++++++++++++++++  HEADER LOGO */
.logo {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.logo__link {
    color: var(--color-quaternary);
    text-decoration: none;
    font-size: 1.6rem;
}

.logo__link span {
    color: var(--color-tertiary);
    font-size: 3rem;
    font-family: "Times New Roman", Times, serif;
}
/* +++++++++++++++++  HEADER CONTENT */
.header-content {
    color: var(--color-quaternary);
    height: 70%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.header-content h1 {
    font-size: calc(7rem + 2vw);
    font-weight: 300;
    line-height: 1;
}

.header-content p {
    font-size: 4rem;
    font-weight: 300;
}

.header-content__link:link,
.header-content__link:visited {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--color-quaternary);
    border: solid 0.2rem var(--color-tertiary);
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.header-content__link::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-tertiary);
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transition: transform var(--transition-duration) ease-in-out;
}

.header-content__link:hover::before,
.header-content__link:active::before {
    transform: scaleY(1);
}

/* +++++++++++++++++++++ BOOKING CONTENT SECTION ++++++++++++++++++++++++++++++++++++++ */

#booking-content {
    background-color: var(--color-secondary);
    grid-column: center-start / col-end 6;
}

/* +++++++++++++++++++++ BOOKING DATE SECTION ++++++++++++++++++++++++++++++++++++++ */

#booking-date {
    background-color: var(--color-secondary);
    grid-column: col-start 7 / center-end;
}

/* +++++++++++++++++++++ VILLAS SECTION ++++++++++++++++++++++++++++++++++++++ */

#villas {
    background-color: var(--color-tertiary);
    grid-column: container-start / container-end;
}

/* +++++++++++++++++++++ MOTTO SECTION ++++++++++++++++++++++++++++++++++++++ */

#motto {
    background-color: var(--color-primary);
    grid-column: container-start / container-end;
}

/* +++++++++++++++++++++ EVENTS SECTION ++++++++++++++++++++++++++++++++++++++ */

#events-content {
    background-color: var(--color-primary-m-light);
    grid-column: container-start / col-end 9;
}

#events-text {
    background-color: var(--color-tertiary);
    grid-column: col-start 10 / container-end;
}

/* +++++++++++++++++++++ GALLERY SECTION ++++++++++++++++++++++++++++++++++++++ */

#gallery-text {
    background-color: var(--color-primary);
    grid-column: container-start / col-end 1;
}

#gallery-carousel {
    grid-column: col-start 2 / container-end;
}

/* +++++++++++++++++++++ FEATURES SECTION ++++++++++++++++++++++++++++++++++++++ */

#features-content {
    background-color: var(--color-primary-m-light);
    grid-column: container-start / col-end 9;
}

#features-text {
    background-color: var(--color-tertiary);
    grid-column: col-start 10 / container-end;
}

/* +++++++++++++++++++++ TESTIMONIALS SECTION ++++++++++++++++++++++++++++++++++++++ */

#testimonials {
    grid-column: center-start / center-end;
}

/* +++++++++++++++++++++ FOOTER SECTION ++++++++++++++++++++++++++++++++++++++ */

#footer {
    grid-column: container-start / container-end;
    background-color: var(--color-primary);
}
