/* Reset  */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************************************** Utility Components  *************************************************/
:root {
    font-size: 62.5%;

    /***************** Custom Properties *****************/

    /* Colors */
    --color-primary: #730039;
    --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
    --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);

    --color-secondary: #ffc513;
    --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
    --color-secondary-m-dark: rgba(255, 196, 19, 0.85);

    --color-tertiary: #ff724c;
    --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);
    --color-tertiary-m-dark: rgba(255, 115, 76, 0.85);

    --color-quaternary: #f6eedf;
    --color-quaternary-m-light: hsla(39, 56%, 92%, 0.55);
    --color-quaternary-m-dark: hsla(39, 56%, 92%, 0.85);

    /* Transtion Duration */
    --transition-duration: 0.3s;

    /* Section Title Font Size */
    --font-size-title: calc(2rem + 2vw);

    /* Section Padding */
    --padding-section: 8vh 3vw;
}

body {
    font-family: "Titillium Web", sans-serif;
    line-height: 1.7;
    background-color: var(--color-quaternary);
}

.container {
    display: grid;
    grid-template-columns:
        [container-start] 1fr [center-start] repeat(
            10,
            [col-start] minmax(min-content, 15rem) [col-end]
        )
        [center-end] 1fr [container-end];

    grid-template-rows: 100vh;
}

/* .container > * {
    font-size: 5rem;
} */

/* +++++++++++++++++++++ HEADER SECTION ++++++++++++++++++++++++++++++++++++++ */
#header {
    grid-column: container-start / container-end;
    /* background-color: var(--color-primary); */
    background-image: linear-gradient(
            var(--color-primary-m-light),
            var(--color-primary-m-light)
        ),
        url(img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* +++++++++++++++++  NAVIGATION */
.header__main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

.header__main-nav--menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;

    background-color: var(--color-secondary-m-dark);

    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(0);
    transition: all var(--transition-duration);
}

.header__main-nav input[type="checkbox"]:checked ~ .header__main-nav--menu {
    visibility: visible;
    transform: scaleX(100%);
}

.header__main-nav--menu a:link,
.header__main-nav--menu a:visited {
    text-decoration: none;
    color: var(--color-quaternary);
    font-size: calc(2.5rem + 1vw);
    padding: 1rem 2rem;

    position: relative;
    z-index: 5;
    display: inline-block;
    margin-bottom: 2rem;
}

.header__main-nav--menu a:link::before,
.header__main-nav--menu a:visited::before {
    content: "";
    position: absolute;
    background-color: var(--color-primary-m-dark);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    transform: scaleY(0);
    transition: transform var(--transition-duration) ease-in-out;
}

.header__main-nav--menu a:hover::before,
.header__main-nav--menu a:active::before {
    transform: scaleY(100%);
    box-shadow: 0rem 3rem 4rem rgba(0, 0, 0, 0.288);
}

.header__main-nav--menu ul {
    list-style: none;
    text-align: center;
}

/* Hambuger Menu */
.header__main-nav input[type="checkbox"] {
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    z-index: 5;
    opacity: 0;
    /* visibility: hidden; */
}
.header__main-nav--hamburger {
    position: absolute;
    top: 3rem;
    left: 3rem;
    background-color: var(--color-secondary);
    height: 5rem;
    width: 5rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: navroll 2s ease-in-out;
}

@keyframes navroll {
    0% {
        transform: translateX(150rem) rotate(1600deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0rem) rotate(0deg);
        opacity: 1;
    }
}

/* Hamburger Lines */
.header__main-nav--hamburger div {
    width: 4rem;
    background-color: var(--color-quaternary);
    padding: 0.15rem;
    position: relative;
    transition: all var(--transition-duration) ease-in-out;
}

/* Top and bottom lines */
.header__main-nav--hamburger div::before,
.header__main-nav--hamburger div::after {
    content: "";
    width: 70%;
    background-color: inherit;
    padding: 0.15rem;
    position: absolute;
}
.header__main-nav--hamburger div::before {
    top: -1rem;
    left: 0;
}
.header__main-nav--hamburger div::after {
    top: 1rem;
    right: 0;
}

/* Rotating the lines */
.header__main-nav
    input[type="checkbox"]:checked
    + .header__main-nav--hamburger
    > div {
    transform: rotate(135deg);
}

.header__main-nav
    input[type="checkbox"]:checked
    + .header__main-nav--hamburger
    > div::before,
.header__main-nav
    input[type="checkbox"]:checked
    + .header__main-nav--hamburger
    > div::after {
    top: 0;
    width: 100%;
    left: 0;
    transform: rotate(270deg);
}

.header__main-nav
    input[type="checkbox"]:checked:hover
    + .header__main-nav--hamburger
    > div {
    transform: rotate(405deg);
}

/* +++++++++++++++++  HEADER LOGO */
.logo {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.logo__link {
    color: var(--color-quaternary);
    text-decoration: none;
    font-size: 1.6rem;
}

.logo__link span {
    color: var(--color-tertiary);
    font-size: 3rem;
    font-family: "Times New Roman", Times, serif;
}
/* +++++++++++++++++  HEADER CONTENT */
.header-content {
    color: var(--color-quaternary);
    height: 70%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.header-content h1 {
    font-size: calc(7rem + 2vw);
    font-weight: 300;
    line-height: 1;
}

.header-content p {
    font-size: 4rem;
    font-weight: 300;
}

.header-content__link:link,
.header-content__link:visited {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--color-quaternary);
    border: solid 0.2rem var(--color-tertiary);
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.header-content__link::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-tertiary);
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transition: transform var(--transition-duration) ease-in-out;
}

.header-content__link:hover::before,
.header-content__link:active::before {
    transform: scaleY(1);
}

/* +++++++++++++++++++++ BOOKING CONTENT SECTION ++++++++++++++++++++++++++++++++++++++ */

#booking-content {
    /* background-color: var(--color-secondary); */
    grid-column: center-start / col-end 6;
    font-weight: 200;
    padding: 5rem;
    display: grid;
    row-gap: 4rem;
}

.booking-content__title {
    font-size: calc(2rem + 2vw);
    font-weight: 300;
    position: relative;
    letter-spacing: 0.3rem;
    display: inline-block;
}

.booking-content__title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40%;
    background-color: var(--color-secondary);
    bottom: 0;
    left: 20%;
}

.booking-content__para {
    font-size: calc(1rem + 1vw);
}

.booking-content__info {
    display: flex;
}

.booking-content__info i {
    font-size: calc(2rem + 1vw);

    color: var(--color-secondary);
}

.booking-content__info p {
    font-size: calc(1rem + 1vw);
    font-weight: 200;
}

.booking-content__info > * {
    flex: 1;
    display: flex;
    gap: 4rem;
    align-items: center;
}
/* +++++++++++++++++++++ BOOKING DATE SECTION ++++++++++++++++++++++++++++++++++++++ */

#booking-date {
    /* background-color: var(--color-secondary); */
    grid-column: col-start 7 / center-end;
    padding: 5rem 3rem;

    display: grid;
    row-gap: 2rem;
}

.booking-date__schedule {
    display: flex;
    justify-content: space-between;
}

.booking-date__schedule > * > div {
    background-color: var(--color-secondary);
    display: inline-block;
    padding: 3rem 5rem;
    display: grid;
    gap: 2rem;

    position: relative;
}

.booking-date__schedule > * > div::before {
    content: "";
    position: absolute;
    /* display: inline-block; */
    bottom: 100%;
    left: 50%;
    margin-left: -1.5rem;
    border-width: 1.5rem;
    border-style: solid;
    border-color: transparent transparent var(--color-secondary) transparent;
}

.booking-date__schedule h5 {
    font-size: calc(1rem + 1vw);
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}

.booking-date__schedule p {
    font-size: calc(1rem + 1vw);
    text-align: center;
    color: var(--color-quaternary);
}

.booking-date__schedule p:nth-child(2) {
    font-weight: 600;
    font-size: calc(1.5rem + 1vw);
}

.booking-date__link:link,
.booking-date__link:visited {
    text-decoration: none;
    background-color: var(--color-secondary);
    font-size: calc(1rem + 1vw);
    padding: 1rem 2rem;
    color: var(--color-quaternary);
    border: solid 0.2rem var(--color-secondary);
    justify-self: start;
    transition: all var(--transition-duration);
}

.booking-date__link:hover,
.booking-date__link:active {
    background-color: var(--color-quaternary);
    color: var(--color-secondary);
}

.booking-date__contact {
    font-size: 2rem;
    font-weight: 200;
}
/* +++++++++++++++++++++ VILLAS SECTION ++++++++++++++++++++++++++++++++++++++ */

#villas {
    /* background-color: var(--color-tertiary); */
    grid-column: container-start / container-end;
    padding: 5rem;

    /* display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 4rem;
}

.villa {
    color: var(--color-quaternary);

    padding: 3rem;
    display: grid;
    row-gap: 4rem;
    grid-template-rows: min-content 1fr min-content;

    transition: all var(--transition-duration);

    /* This properties did not apply so div[class~="villa"] is used. */
    /* 
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover; */
}

.villa:hover {
    transform: scale(1.05);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.219);
}

div[class~="villa"] {
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
}
.villa-1 {
    background: linear-gradient(
            var(--color-primary-m-light),
            var(--color-secondary-m-light)
        ),
        url(img/Villas/villa-1.jpg);
}
.villa-2 {
    background: linear-gradient(
            var(--color-primary-m-light),
            var(--color-secondary-m-light)
        ),
        url(img/Villas/villa-2.jpg);
}
.villa-3 {
    background: linear-gradient(
            var(--color-primary-m-light),
            var(--color-secondary-m-light)
        ),
        url(img/Villas/villa-3.jpg);
}
.villa-4 {
    background: linear-gradient(
            var(--color-primary-m-light),
            var(--color-secondary-m-light)
        ),
        url(img/Villas/villa-4.jpg);
}
.villa-5 {
    background: linear-gradient(
            var(--color-primary-m-light),
            var(--color-secondary-m-light)
        ),
        url(img/Villas/villa-5.jpg);
}
.villa-6 {
    background: linear-gradient(
            var(--color-primary-m-light),
            var(--color-secondary-m-light)
        ),
        url(img/Villas/villa-6.jpg);
}

.villa__title {
    font-size: var(--font-size-title);
    font-weight: 400;
    color: inherit;
}

.villa__para {
    font-size: calc(1rem + 1vw);
    align-self: end;
}

.villa__link:link,
.villa__link:visited {
    text-decoration: none;
    color: var(--color-primary);
    font-size: calc(1rem + 1vw);
    background-color: var(--color-quaternary);
    padding: 1rem 1.5rem;
    justify-self: start;
    align-self: end;

    position: relative;
    z-index: 0;
    transition: all var(--transition-duration) 0.1s;

    overflow: hidden;
    backface-visibility: hidden;
}

.villa__link::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    background-color: var(--color-secondary);
    top: 0;
    left: -50%;
    z-index: -1;

    transform: skewX(50deg) scaleX(0);
    /* transform-origin: right; */
    transition: all var(--transition-duration);
    backface-visibility: hidden;
}

.villa__link:hover::before,
.villa__link:active::before {
    /* transform-origin: left; */
    transform: skewX(50deg) scaleX(1);
}
.villa__link:hover,
.villa__link:active {
    color: var(--color-quaternary);
}
/* +++++++++++++++++++++ MOTTO SECTION ++++++++++++++++++++++++++++++++++++++ */

#motto {
    background-color: var(--color-primary);
    grid-column: container-start / container-end;

    color: var(--color-quaternary);
    padding: 5rem 2rem;
}

.motto__title {
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: 300;
    position: relative;
    /* display: inline-block; */
    padding: 1rem 0;
}

.motto__title::after {
    content: "";
    position: absolute;

    height: 2px;
    background-color: var(--color-quaternary);
    width: 10%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.motto__para {
    font-size: calc(1rem + 1vw);
    font-weight: 200;
    max-width: 110rem;
    margin: 2rem auto 0;
    text-align: justify;
}
/* +++++++++++++++++++++ EVENTS SECTION ++++++++++++++++++++++++++++++++++++++ */

#events-content {
    background-color: var(--color-tertiary);
    grid-column: container-start / col-end 9;
    display: flex;
    gap: 0.5rem;
}

.event-1 {
    background: linear-gradient(
            var(--color-tertiary-m-light),
            var(--color-tertiary-m-light)
        ),
        url(img/Events/beach-party.jpg);
}
.event-2 {
    background: linear-gradient(
            var(--color-tertiary-m-light),
            var(--color-tertiary-m-light)
        ),
        url(img/Events/culture-discovery.jpg);
}

.event {
    padding: 4rem;
    color: var(--color-quaternary);
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
}

.event__title {
    font-size: var(--font-size-title);
    font-weight: 400;
    margin-bottom: 2rem;
}
.event__para {
    font-size: calc(1rem + 1vw);
}
#events-text {
    background-color: var(--color-tertiary);
    grid-column: col-start 10 / container-end;
    display: grid;
    place-items: center;
}

.events-text__title {
    font-size: var(--font-size-title);
    font-weight: 400;
    letter-spacing: 0.7rem;
    color: var(--color-quaternary);
    writing-mode: vertical-lr;
}

/* +++++++++++++++++++++ GALLERY SECTION ++++++++++++++++++++++++++++++++++++++ */

#gallery-text {
    background-color: var(--color-primary);
    grid-column: container-start / col-end 1;
    display: grid;
    place-items: center;
}

.gallery-text__title {
    font-size: var(--font-size-title);
    font-weight: 400;
    letter-spacing: 0.7rem;
    color: var(--color-quaternary);
    writing-mode: vertical-rl;
}
#gallery-carousel {
    grid-column: col-start 2 / container-end;

    max-height: 90vh;

    position: relative;

    overflow: hidden;
}

.gallery__images {
    height: 100%;
    width: 100%;

    position: relative;
}

.gallery__image__temp {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery__image__cont {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    transition: transform 0.7s;
}

.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;

    /* position: absolute; */
}

.gallery__btn {
    font-size: 8rem;
    color: var(--color-secondary);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.gallery__btn--left {
    left: 2rem;
}
.gallery__btn--right {
    right: 2rem;
}

.gallery__dots {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

/* .gallery__dots__dot {
    font-size: 2rem;
    color: var(--color-secondary);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}

.gallery__dots__dot--active {
    color: var(--color-primary);
} */
.gallery__dots__dot {
    height: 2rem;
    width: 2rem;
    background-color: var(--color-secondary);
    outline: none;
    border: none;
    /* background-color: transparent; */
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
}

.gallery__dots__dot--active {
    background-color: var(--color-primary);
}
/* +++++++++++++++++++++ FEATURES SECTION ++++++++++++++++++++++++++++++++++++++ */

#features-content {
    background-color: var(--color-secondary);
    grid-column: container-start / col-end 9;

    display: flex;
    gap: 0.5rem;
}

.feature-1 {
    background: linear-gradient(
            var(--color-secondary-m-light),
            var(--color-secondary-m-light)
        ),
        url(img/Features/cocktail.jpg);
}
.feature-2 {
    background: linear-gradient(
            var(--color-secondary-m-light),
            var(--color-secondary-m-light)
        ),
        url(img/Features/surfing.jpg);
}

.feature {
    padding: 4rem;
    color: var(--color-quaternary);
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
}

#features-text {
    background-color: var(--color-secondary);

    grid-column: col-start 10 / container-end;

    display: grid;
    place-items: center;
}

/* +++++++++++++++++++++ TESTIMONIALS SECTION ++++++++++++++++++++++++++++++++++++++ */

#testimonials {
    grid-column: center-start / center-end;
    padding: var(--padding-section);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
    justify-items: center;
}

.card {
    width: 30rem;
    height: 45rem;
    perspective: 100rem;
    position: relative;
}

.card__front {
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
    text-align: center;

    transition: all 0.5s;
    backface-visibility: hidden;
}

.card__front h3 {
    font-size: 3rem;
    font-weight: 500;
    background-color: var(--color-quaternary-m-light);
    padding: 0.5rem 2rem;
    display: inline-block;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-top: 1rem;
}

.card__front p {
    font-size: 2rem;

    background-color: var(--color-quaternary-m-light);
    padding: 0.5rem 2rem;
    display: inline-block;
    border-radius: 5rem;
    position: relative;
    top: 30rem;
}
.card--1 .card__front {
    background-image: url(img/Testimonials/testimonials-1.jpg);
}
.card--2 .card__front {
    background-image: url(img/Testimonials/testimonials-2.jpg);
}
.card--3 .card__front {
    background-image: url(img/Testimonials/testimonials-3.jpg);
}
.card--4 .card__front {
    background-image: url(img/Testimonials/testimonials-4.jpg);
}
.card--5 .card__front {
    background-image: url(img/Testimonials/testimonials-5.jpg);
}
.card--6 .card__front {
    background-image: url(img/Testimonials/testimonials-6.jpg);
}

.card__back {
    height: 100%;
    width: 100%;
    background-color: var(--color-secondary);
    color: var(--color-quaternary);
    font-size: 2rem;
    padding: 3rem;
    text-align: justify;
    display: grid;
    place-items: center;

    transform: rotateY(180deg);
    transition: all 0.5s;
    backface-visibility: hidden;

    position: absolute;
    bottom: 0;
    left: 0;
}

/* Card flip functionality */
.card:hover .card__front {
    transform: rotateY(-180deg);
}
.card:hover .card__back {
    transform: rotateY(0deg);
}
/* +++++++++++++++++++++ FOOTER SECTION ++++++++++++++++++++++++++++++++++++++ */

#footer {
    grid-column: container-start / container-end;
    background-color: var(--color-primary);
    padding: var(--padding-section);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
    justify-items: center;
    align-items: center;
}

.footer__text__para {
    font-size: calc(1rem + 1vw);
    color: var(--color-quaternary);
}

.footer__links {
    display: flex;
    gap: 3rem;
}

.footer__link i {
    font-size: 3rem;
    /* color: var(--color-primary); */

    padding: 2rem;
    color: var(--color-quaternary);
    border-radius: 100%;

    transition: all var(--transition-duration);
}

.footer__link:hover i {
    color: var(--color-primary);

    background-color: var(--color-secondary);
    box-shadow: 0rem 0rem 4rem 2rem var(--color-secondary-m-light);
    transform: scale(1.1);
}
/* +++++++++++++++++++++ MEDIA QUERIES ++++++++++++++++++++++++++++++++++++++ */

@media screen and (max-width: 800px) {
    #booking-content {
        /* background-color: var(--color-secondary); */
        grid-column: center-start / center-end;
    }

    #booking-date {
        grid-column: center-start / center-end;
    }

    #villas {
        padding: 2rem;
        gap: 2rem;
    }
}

@media screen and (max-width: 600px) {
    #events-content {
        flex-direction: column;
    }
    #features-content {
        flex-direction: column;
    }
}

/* @media only screen and (max-width: 56.25em), only screen and (hover: none) */
@media only screen and (hover: none) {
    .card__back {
        transform: rotateY(0deg);
        height: min-content;
        /* top: 30%; */
        background-color: var(--color-quaternary-m-light);
        color: black;
        /* bottom: 0 !important; */
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
    }

    .card__front p {
        visibility: hidden;
    }
}
